html
{
	background-image: url("../img/bgregadm.jpg");
}
 .account-type, .gender 
{
	margin: 15px 0;
}
input[type=radio] 
{
    display: none;
}
label.radio 
{
	position: relative;
    display: inline-block;
	padding-top: 4px;
	margin-right: 20px;
	text-indent: 30px;
	overflow: visible;
	cursor: pointer;
}
label.radio:before 
{
	content: "";
	position: absolute;
	top: 2px;
	left: 0;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #F24B6A;
}
label.radio:after 
{
	content: "";
	position: absolute;
	width: 9px;
	height: 4px;
	top: 8px;
	left: 4px;
	border: 3px solid #fff;
	border-top: none;
	border-right: none;
	transform: rotate(-45deg);
	opacity: 0;
}
input[type=radio]:checked + label:after 
{
	opacity: 1;
}