/*======================================================================
  1. Google Fonts
========================================================================*/
@import url('http://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600,700&amp;display=swap');
@import url('http://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&amp;display=swap');
@import url('http://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&amp;display=swap');


/*======================================================================
  2. Basic Styles
========================================================================*/
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*, ::before, ::after { box-sizing:border-box; -webkit-box-sizing:border-box; }
html { overflow:hidden; overflow-y:auto; }
body { font-size:13px; line-height:1.5; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-family:"Poppins",Helvetica,Tahoma,Arial,serif; color:#424242; font-weight:400; margin:0; padding:0; }
article, aside, details, figcaption, figure, footer, header, nav, section, summary { display: block; }
audio, canvas, video { display: inline-block; }
audio:not([controls]) { display:none; height:0; }
[hidden] { display:none; }
html, button, input, select, textarea { font-family:'Poppins', sans-serif; }
input:focus, textarea:focus, select:focus { border-color:#cdcfd3; }
input, textarea { padding:10px 18px; }
select { -webkit-appearance:none; -moz-appearance:none; appearance:none; background-position:right center; background-image:url(../images/arrow-select.png) !important; background-repeat:no-repeat !important; 
	background-position:right 10px center !important; line-height:1.2; text-indent:0.01px; text-overflow: ''; cursor:pointer; padding-bottom:8px 28px 8px 15px; }

iframe { border:0; width:100%; }

a { color:#555555; text-decoration:none; -ms-transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out; transition:all 0.5s ease-in-out; }
a:focus { outline:thin dotted; }
a:active, a:hover { color:#000; outline:0; }
a:hover, a:focus { opacity:0.8; }
a:hover { text-decoration:underline; }

p { margin:0 0 24px; }
pre { background: #f5f5f5; color: #666; font-family: monospace; font-size: 14px; margin: 20px 0; overflow: auto; padding: 20px; white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
blockquote, q { -webkit-hyphens: none; -moz-hyphens: none; -ms-hyphens: none; hyphens: none; quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }
blockquote { font-size: 18px; font-style: italic; font-weight: 300; margin: 24px 40px; }
blockquote blockquote { margin-right: 0; }
blockquote cite, blockquote small { font-size: 14px; font-weight: normal; text-transform: uppercase; }
blockquote em, blockquote i { font-style: normal; font-weight: 300; }
blockquote strong, blockquote b { font-weight: 400; }
img { -ms-interpolation-mode:bicubic; border:0; vertical-align:middle; }
svg:not(:root) { overflow:hidden; }
ol, ul { padding:0; margin:0; }
.list-items { margin-left:15px; }
.hide { display:none !important; }

/*======================================================================
  3. Typography
========================================================================*/
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a, h6 a, .h6 a { color:inherit; text-decoration:none; font-weight:inherit; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, address, p, pre, blockquote, dl, dd, menu, ol, ul, table, caption, hr { margin:0; margin-bottom:15px; }
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 { color:#000; margin:0 0 10px; font-family:"Roboto Slab",Helvetica,Tahoma,Arial,serif; font-weight:400; line-height:1.2; overflow-wrap: break-word; word-wrap: break-word; }
h1, .h1 { font-size:24px; }
h2, .h2 { font-size:19px; letter-spacing:0.03em; text-transform:uppercase; }
h3, .h3 { font-size:16px; }
h4, .h4 { font-size:1em; }
h5, .h5 { font-size:18px; }
h6, .h6 { font-size:14px; }

img { max-width:100%; }

p { color:#555; }
p:last-child { margin-bottom:0; }

input, button, select, textarea { background: transparent; border:1px solid #d7d7d7; transition:all 0.4s ease-out 0s; -webkit-transition:all 0.4s ease-out 0s; color:#424242; }
input:focus, input:active, button:focus, button:active, select:focus, select:active, textarea:focus, textarea:active { outline:none; border-color:#5b77d8; }
input, select, textarea { width: 100%; font-size: 14px; box-shadow:none; -webkit-box-shadow:none; border-radius:0; -webkit-border-radius:0; }
input, select { height:40px; padding:0 10px; }
input[type="checkbox"], input[type="radio"] { width:auto; height:auto; }
input[type="checkbox"]:focus, input[type="radio"]:focus { outline:0; box-shadow:none; }

.text-left { text-align:left !important; }
.text-center { text-align:center !important; }
.text-right { text-align:right !important; }

hr { margin:20px 0; border:0; border-bottom:1px solid #e8e9eb; }

.border-bottom { border-bottom:1px solid #f5f5f5 !important; }

/*======================================================================
  4. Utilities
========================================================================*/
.hidden { display: none; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.poss_relative { position: relative; }
.poss_absolute { position: absolute; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: " "; /* 1 */ display: table;/* 2 */ }
.clearfix:after { clear: both; }

th { font-family:"Roboto Slab",Helvetica,Tahoma,Arial,serif; font-weight:700; }

/* Text specialized */
.text-italic { font-style: italic; }
.text-normal { font-style: normal; }
.text-underline { font-style: underline; }
/* Font specialized */
.body-font { font-family: "Poppins", sans-serif; }
.heading-font { font-family: "Poppins", sans-serif; }

.list--inline { padding:0; margin:0; }
.list--inline li { display:inline-block; margin-bottom:0; vertical-align:middle; }

.display-table { display:table; table-layout:fixed; width:100%; margin:0 !important; }
.display-table-cell { float:none; display:table-cell; vertical-align:middle; }

/*======================================================================
  5. Container
========================================================================*/
.container { max-width:1300px; padding-left:30px; padding-right:30px; }
.container-fluid { padding:0 55px; }
.container-fluid:before,
.container-fluid:after { content:''; clear:both; display:block; }

.grid { *zoom:1; list-style:none; margin:0; padding:0; margin-left:-30px; }
.grid__item { float:left; padding-left:30px; width:100%; }
.grid--no-gutters > .grid__item { padding-left:0; }

/*======================================================================
  6. Button
========================================================================*/
.btn, .shopify-payment-button__button--unbranded { -moz-user-select:none; -ms-user-select:none; -webkit-user-select:none; user-select:none; -webkit-appearance:none; -moz-appearance:none; appearance:none; display:inline-block; width:auto; height:auto; 
	text-decoration:none; text-align:center; vertical-align:middle; cursor:pointer; border:1px solid transparent; border-radius:0; padding:8px 15px 8px; background-color:#000; color:#fff; font-family:Poppins,Helvetica,Tahoma,Arial,sans-serif; 
	font-weight:400; text-transform:uppercase; letter-spacing:1px; line-height:normal; white-space:normal; font-size:13px; -ms-transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out; transition:all 0.3s ease-in-out; }
.btn:hover, .btn:focus, .shopify-payment-button__button--unbranded:hover, .shopify-payment-button__button--unbranded:focus { background-color:#1a1a1a; opacity:0.8; color:#fff; text-decoration:none; }
.btn--small { padding:8px 10px; font-size:0.92308em; line-height:1; }
.btn--secondary { background-color:#ededed; color:#000; border:1px solid #000; }
.btn--link { background-color:transparent; border:0; margin:0; color:#31a3a3; text-align:left; text-decoration:none; outline:none !important;box-shadow:none !important; }
.btn--link:hover, .btn--link:focus { opacity:0.8; text-decoration:none; }

/*======================================================================
  9. Header Style
========================================================================*/
.classicHeader:not(.stickyNav) { position:absolute;width:100%; z-index:8; }
.promotion-header { color:#df1a0b; letter-spacing:1px; text-transform:uppercase; padding:10px 35px; background-color:#fff0ef; text-align:center; position:relative; z-index:5; }
.closeHeader { cursor:pointer; font-size:18px; font-weight:400; position:absolute; right:40px; top:8px; height:25px; width:25px; line-height:22px; color:#df1a0b; }

.top-header { color:#fff; padding-top:8px; padding-bottom:10px; background:#141414; height:38px; }
.top-header a { color:#fff; }
.top-header p, .top-header a, .top-header select, .top-header .fa, .top-header span.selected-currency, .top-header .language-dd { color:#ffffff; font-size:12px; margin-bottom:0; text-decoration:none; letter-spacing:0.05em; vertical-align:middle; text-transform:uppercase; line-height:normal; }
.top-header a:hover { text-decoration:underline; }
.top-header .phone-no, .top-header .welcome-msg { display:inline; }
.top-header .phone-no .anm { vertical-align:middle; }
.top-header .phone-no a:hover { text-decoration:none; }

.selected-currency, .language-dd { width:40px; display:inline-block; cursor:pointer; margin-right:10px }
.language-dd { width:65px; text-transform:uppercase; display:inline; }
.selected-currency:after, .language-dd:after { content: "\f0d7"; font-family:'FontAwesome'; display:inline-block; vertical-align:middle; padding-left:5px; }
.top-header .currency-picker, .top-header .language-dropdown { display:inline; position:relative; vertical-align:middle; }
#currencies, #language { top:29px; left:-5px; display:none; position:absolute; background:#fff; border:1px solid #f5f5f5; padding:0; z-index:333; }
#currencies li, #language li { color:#000; font-size:12px; cursor:pointer; padding:5px 15px; list-style:none; border-bottom:solid 1px #ddd; }
#currencies li:hover, #language li:hover { background:#f5f5f5; }

.top-header .user-menu { display:none; }
.top-header .user-menu .anm { font-size:19px; cursor:pointer; }
.top-header .list-inline { margin:0; list-style:none; }
.top-header .list-inline > li { display:inline-block; padding-right:5px; padding-left:5px; text-transform:uppercarse; }

.logo { padding-top:15px; padding-bottom:15px; margin:0; }

.stickyNav { position:fixed; top:0; z-index:333; width:100%; left:0; background-color:#fff; box-shadow:0 0 7px rgba(0,0,0,0.2); -webkit-box-shadow:0 0 7px rgba(0,0,0,0.2); }
.stickyNav .logo { padding-left:0; }
.site-cart { float:right; position:relative; }
.site-header__cart { color:#000; text-decoration:none; }
.site-header__cart:hover { text-decoration:none; }
.site-header__cart .icon { font-size:22px; text-decoration:none; }
.site-header__cart-count { font-size:11px; display:inline-block; color:#fff; background-color:#000; border-radius:50%; text-align:center; width:14px; height:14px; line-height:14px; position:absolute; right:-5px; bottom:0; }
#header-cart { z-index:333; width:320px; margin-top:5px; display:none; background-color:#fff; border:1px solid #e8e9eb; position:absolute; top:100%; right:-5px; z-index:555; border-radius:0; }
#header-cart hr { margin:20px 0 }
#header-cart .btn { color:#fff; margin:0 2% 0 0; width:48%; padding:10px; }
#header-cart .btn:nth-of-type(2n){ margin-right:0; }
#header-cart #cart-title { text-align:left; margin-bottom:0; }
#header-cart #cart-title strong { color:#000000; }
#header-cart .variant-cart { color:#777; font-size:11px; }
#header-cart .wrapQtyBtn { display:block; float:none; margin-top:5px; }
#header-cart .qtyField .label { float:left; line-height:30px; padding-right:5px; }
#header-cart .qtyField .qtyBtn, #header-cart .qtyField .qty { font-size:11px; width:25px; height:30px; display:inline-block; padding:3px;}
#header-cart .qtyField a .fa { font-size:11px; }
#header-cart .priceRow { margin-top:0; color:#000000; }
.mini-products-list { padding:15px 15px 0; max-height:380px; overflow-x:hidden; overflow-y:auto; list-style:none; margin:0; }
.mini-products-list + .mini-products-list { padding-top:0; }
.mini-products-list li { padding-bottom:10px; margin-bottom:10px; line-height:normal; display:block; border-bottom:solid 1px #eee; }
.mini-products-list li:last-of-type { border-bottom:0; padding-bottom:0; }
.mini-products-list li:before, .mini-products-list li:after { content:''; clear:both; display:block; }
.mini-products-list li .product-image { width:25%; float:left; }
.mini-products-list li .pro-img { float:left; width:30%; }
.mini-products-list li .pName { color:#000; font-size:13px; white-space:normal; text-decoration:none; display:block; line-height:normal; margin-right:18px; margin-bottom:0; }
.mini-products-list li .pName:hover { color:#222; }
.mini-products-list li .product-details { float:left; width:75%; padding-left:15px; text-align:left; }
.mini-products-list li .remove { color:#5c5c5c; float:right; font-size:14px; padding:0 2px 0 7px; margin-top:0; text-decoration:none; }
.mini-products-list li .remove:hover { color:#000; }
.mini-products-list li .edit-i.remove { font-size:11px; padding-top:1px; }
.mini-products-list li .priceRow { margin:10px 0 0; }
.mini-products-list li .priceRow .prodMulti { display:inline-block; font-size:10px; }
.mini-products-list li .priceRow .product-price { display:inline-block; }
.mini-products-list li .qtyField { display:inline-block; padding-left:2px; }
.mini-products-list li .qtyField a { display:none; }
.mini-products-list li .qtyField span { display:inline-block; padding:0; border:0; }
#header-cart .total { padding:0 10px 15px; }
#header-cart .total .total-in { color:#000; margin:10px 0; padding:8px 10px; border-top:1px solid #e8e9eb; border-bottom:1px solid #e8e9eb; text-align:left; display:inline-block; width:100%; }
#header-cart .total .product-price { float:right; font-size:16px; }
#header-cart .total label { float:left; line-height:24px; text-transform:uppercase; margin:0; }
#header-cart .total .total-in .label { text-transform:uppercase; }

.stickyNav .site-header__search { display:none; }
.site-header__search { float:right; }
.search { position:absolute; width:100%; background:#fff; color:#333; z-index:100; box-shadow:0 2px 3px rgba(0,0,0,.1); -webkit-box-shadow:0 2px 3px rgba(0,0,0,.1); opacity:0; visibility:hidden;
	transform-origin:top center; -webkit-transform-origin:top center; transform:translateY(-100%); -webkit-transform:translateY(-100%); transition:opacity .2s,transform .2s; -webkit-transition:opacity .2s,transform .2s; }
.search--opened { opacity:1; visibility:visible; transform:translateY(0); -webkit-transform:translateY(0); -ms-transform:translateY(0); }
.site-header__search .search-trigger { border:0; font-size:20px; padding-right:20px; cursor:pointer; padding-top:0; }
.site-header__search .search-trigger:hover { color:#30bdbd; }
.search .search__form { margin:35px 60px; position:relative; }
.search .search__input { width:100%; border:0; font-size:18px; padding:0 40px; }
.search .search__button { border:0; font-size:18px; }
.search .go-btn { position:absolute; left:0; top:10px; }
.search .close-btn { position:absolute; right:0; top:1px; font-size:18px; line-height:normal; display:block; border:0; padding:5px; cursor:pointer; }

#siteNav { position:relative; max-width:1100px; margin:0 auto; padding:0; list-style:none; }
#siteNav.right { text-align:right; }
#siteNav.left { text-align:left; }
#siteNav.center { text-align:center; }
#AccessibleNav { padding-left:0; }
.mobile-nav-wrapper, .site-header__logo.mobileview { display:none; }
@media (min-width:990px) {
	#siteNav a { text-decoration:none; font-size:13px; display:block; opacity:1; -webkit-font-smoothing: antialiased; letter-spacing:0.05em; position:relative; }
	#siteNav > li { display:inline-block; text-align:left; }
	#siteNav > li > a { color:#000000; padding:0 20px; text-transform:uppercase; line-height:40px; }
	#siteNav.medium > li a { font-weight:600; }
	#siteNav.medium > li > a .anm { display:none; }
	
	#siteNav > li > a:hover:hover,
	#siteNav > li > a:hover { color:#339498; }
	
	#siteNav > li .megamenu { opacity:0; visibility:hidden; padding:25px 25px 0; width:100%; position:absolute; top:59px; left:0; z-index:999; background-color:#fff; box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.3); -webkit-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.3); pointer-events:none; -ms-transition:all 0.3s ease; -webkit-transition:all 0.3s ease; transition:all 0.3s ease; border:1px solid #eee; max-height:600px; overflow:auto; }
	#siteNav > li .megamenu ul { padding:0; list-style:none; }
	#siteNav > li:hover > .megamenu { top:40px; opacity:1; visibility:visible; pointer-events:visible; }
	#siteNav > li .megamenu li.lvl-1 { margin-bottom:25px; }
	
	#siteNav > li .megamenu li.lvl-1 a.lvl-1 { color:#000; font-size:14px; text-transform:uppercase; padding:0 0 8px; font-weight:600; }
	#siteNav > li .megamenu li.lvl-1 li .site-nav { color:#000; padding:5px 0; font-weight:400; }
	
	#siteNav > li .megamenu li.lvl-1 li .site-nav:hover { color:#000; }
	#siteNav > li .megamenu li.lvl-1 li .site-nav:before { content: ""; display:inline-block; width:0px; height:2px; vertical-align:middle; background-color:#000; -ms-transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out; transition:all 0.3s ease-in-out; }
	#siteNav > li .megamenu li.lvl-1 li .site-nav:hover:before { width:5px; margin-right:3px; }
	
	#siteNav > li .megamenu.style4 { background-repeat:no-repeat; background-size:auto 100%; }
	#siteNav > li .megamenu .imageCol { padding-bottom:25px; }
	
	#siteNav > li ul.dropdown li a .anm { position:absolute; right:10px; top:10px; }
	
	#siteNav a .lbl { color:#ffffff; font-size:10px; font-weight:400; letter-spacing:0; line-height:1; text-transform:uppercase; display:inline-block; padding:2px 4px; border-radius:3px; background-color:#f00; box-shadow:0 0 3px rgba(0,0,0,0.3); -webkit-box-shadow:0 0 3px rgba(0,0,0,0.3); position:relative; vertical-align:middle; }	
	#siteNav a .lbl:after { content:" "; display:block; width:0; height:0; position:absolute; bottom:3px; left:-7px; border:4px solid transparent; border-right-color:transparent; border-right-color:#f00; }
	#siteNav a .lbl.nm_label3 { background-color:#fb6c3e; }
	#siteNav a .lbl.nm_label1 { background-color:#01bad4; }
	#siteNav a .lbl.nm_label3:after { border-right-color:#fb6c3e; }
	#siteNav a .lbl.nm_label1:after { border-right-color:#01bad4; }
	
	#siteNav > li.dropdown { position:relative; }
	#siteNav > li .dropdown,
	#siteNav > li .dropdown ul { list-style:none; border:1px solid #eeeeee; opacity:0; visibility:hidden; width:220px; position:absolute; top:59px; left:0; z-index:999; box-shadow:2px 2px 1px 0px rgba(0,0,0,0.3); -ms-transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out; transition:all 0.3s ease-in-out; padding:0; }
	#siteNav > li:hover > .dropdown,
	#siteNav > li .dropdown li:hover > ul { top:40px; opacity:1; visibility:visible; }
	#siteNav > li ul.dropdown li { border-top:1px solid #eeeeee; position:relative; }
	#siteNav > li ul.dropdown li:first-child { border:0; }
	#siteNav > li ul.dropdown li a { color:#000; font-weight:400; padding:8px 12px; background-color:#fff; }
	#siteNav > li ul.dropdown li a:hover { color:#000; background-color:#eee; padding-left:17px; }
	#siteNav > li ul.dropdown li ul { top:20px; left:100%; }
	#siteNav > li ul.dropdown li:hover > ul { top:0; }

}

.header-content-wrapper { width:100%; padding:15px 0; }

/*======================================================================
  33. Footer
========================================================================*/  
#footer { margin-top:35px; }

/* Social Icon */
.site-footer__social-icons li { padding:0 10px; }
.social-icons .icon { color:#111111; font-size:16px; }
.site-footer__social-icons .icon { width:16px; }
/* End Social Icon */

.site-footer { background:#141414; }
.site-footer ul { list-style:none; }
.footer-top { padding:40px 0 15px; }
.footer-top h4, .footer-top .h4 { color:#ffffff; font-size:15px; font-weight:500; margin-bottom:15px; }
.footer-links .h4 { position:relative; }
.footer-links ul, .contact-box ul { margin-bottom:20px; }
.footer-links li { margin-bottom:6px; }
.footer-top, .footer-links a, .footer-top p, .footer-bottom { color:#ffffff; }
.addressFooter .icon { color:#ffffff !important; float:left; font-size:14px; margin-top:2px; }
.addressFooter li { padding-bottom:12px; }
.addressFooter li p { padding-left:25px; }
.site-footer hr { margin:0; border-color:#454545; }
.footer-bottom { padding:25px 0; }
.footer-bottom a { color:#fff; }
.footer-bottom a:hover { text-decoration:underline; }
.footer-bottom span { letter-spacing:1px; }
.footer-bottom .payment-icons .icon { font-size:25px; }

#site-scroll { color:#fff; line-height:38px; cursor:pointer; font-size:20px; height:40px; right:30px; position:fixed; border-radius:3px; text-align:center; transition:all 0.3s ease 0s; -moz-transition:all 0.3s ease 0s; -webkit-transition:all 0.3s ease 0s; width:40px; bottom:50px; z-index:444; display:none; background:#000; }
#site-scroll i { line-height:40px; }

/*======================================================================
  9. Login
========================================================================*/
#signin-btn {
	display: block; 
	margin: 0 auto;
}

.loginheader {
    height: 100px; /* Replace with actual header height */
}


.page-content-wrapper {
    /* Adjust this to be 100% of the viewport height minus the header and footer height */
    min-height: calc(100% - 100px - 284px); 
}


.page-content-wrapper:after {
    content: "";
    display: block;
}

.sticky-footer {
    height: 284px; /* Replace with actual footer height */
}


/*======================================================================
  10. Homepage Slideshow
========================================================================*/
.slideshow-wrapper { position:relative; }
.slideshow .slide { position:relative; overflow: hidden; }
.slideshow .wrap-caption.center { max-width:1200px; }
.slideshow .wrap-caption.right { float:right; }
.slideshow .wrap-caption.left { float:left; }
.slideshow .wrap-caption { display:inline-block; padding:25px; }
.slideshow__text-content { text-align:center; margin-top:30px; position:absolute; width:100%; top:50%; -ms-transform:translateY(-40%); -webkit-transform:translateY(-40%); transform:translateY(-40%); opacity:0; transition:all 0.5s cubic-bezier(0.44, 0.13, 0.48, 0.87); -webkit-transition:all 0.5s cubic-bezier(0.44, 0.13, 0.48, 0.87); -ms-transition:all 0.5s cubic-bezier(0.44, 0.13, 0.48, 0.87); transition-delay:0.3s; -webkit-transition-delay:0.3s; -ms-transition-delay:0.3s; z-index:3; }
.slideshow__text-content.bottom { top:inherit; bottom:10%; -ms-transform:translateY(10%); -webkit-transform:translateY(10%); transform:translateY(10%); }
.slideshow__text-content.top { top:10%; -ms-transform:translateY(10%); -webkit-transform:translateY(10%); transform:translateY(10%); }
.slick-active .slideshow__text-content.bottom { -ms-transform:translateY(0); -webkit-transform:translateY(0); transform:translateY(0); }
.slick-active .slideshow__text-content.top { -ms-transform:translateY(-5%); -webkit-transform:translateY(-5%); transform:translateY(-5%); }
.slick-active .slideshow__text-content, .no-js .slideshow__text-content { -ms-transform:translateY(-50%); -webkit-transform:translateY(-50%); transform:translateY(-50%); opacity:1; }
.slideshow .slideshow__title { color:#ffffff; font-weight:700; font-size:66px; text-transform:uppercase; line-height:1.1; text-shadow:1px 1px 7px rgba(0,0,0,0); }
.slideshow .slideshow__subtitle { color:#ffffff; font-weight:400; font-size:16px; text-transform:uppercase; margin-bottom:20px; line-height:1.2; text-shadow:1px 1px 4px rgba(0,0,0,0); display:block; }
.slideshow__text-wrap { height:100%; }
.slick-active .slideshow__image.img-animate { -ms-transform:scale(1); -webkit-transform:scale(1); transform:scale(1); }
.slideshow__image.img-animate { -ms-transform:scale(1.1); -webkit-transform:scale(1.1); transform:scale(1.1); }
.slideshow__overlay.bottom:before { background:-ms-linear-gradient(bottom, rgba(0,0,0,0) 0%, #000 100%); background:linear-gradient(to bottom, rgba(0,0,0,0) 0%, #000 100%); }
.slideshow__overlay:before { content: ''; position:absolute; top:0; right:0; bottom:0; left:0; opacity:0.5; z-index:3; }
.slideshow .slick-slide img { width:100%; }
.slideshow .slick-prev, .slideshow .slick-next { line-height:normal; font-size:0px; padding:0; border:0; opacity:0.5; position:absolute; z-index:4; top:50%; -ms-transform:translateY(-50%); -webkit-transform:translateY(-50%); transform:translateY(-50%); width:40px; height:40px; border-radius:5px; text-align:center; background-color:rgba(255,255,255,0.1); -ms-transition:all ease-out 0.2s; -webkit-transition:all ease-out 0.2s; transition:all ease-out 0.2s; }
.slideshow .slick-prev { left:10px; }
.slideshow .slick-next { right:10px; }
.slideshow .slick-next:before { content:"\ea8c"; font-family:"annimex-icons"; color:#000; }
.slideshow .slick-prev:before { content:"\ea8b"; font-family:"annimex-icons"; color:#000; }
.slideshow .slick-prev:before, .slideshow .slick-next:before { font-size:20px; line-height:20px; }
.slideshow .slick-prev:hover, .slideshow .slick-next:hover { opacity:0.7; background-color:rgba(255,255,255,0.7); box-shadow:0 0 4px rgba(0,0,0,0.4); -webkit-box-shadow:0 0 4px rgba(0,0,0,0.4); }
.slideshow .btn { color:#fff; background-color:#000; }
.slideshow .btn:hover, .slideshow .btn:focus { opacity:0.8; }

/*======================================================================
  21. Product Detail
========================================================================*/
.product-single-1 .product-details-img .product-zoom-right { width:100%; }
.product-details-img:before, .product-details-img:after { content:''; clear:both; display:block; } 
.product-details-img .product-thumb { display:inline-block; padding:0; width:12.5%; margin:0; float:left; padding-right:5px; }
.product-details-img .product-thumb-1 { display:block; padding:0; width:100%; margin:0; float:left; padding-right:0; }
.product-details-img .product-zoom-right { display:inline-block; position:relative; width:87%; float:left; }
.product-thumb .product-dec-slider-2 a { cursor:pointer; }
.product-details-img .product-thumb .slick-arrow { top:auto; background:#fff; border-radius:3px; padding:0 5px; opacity:0; -ms-transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out; transition:all 0.5s ease-in-out; }
.product-details-img:hover .product-thumb .slick-arrow { opacity:1; }
.product-details-img .product-thumb .slick-prev { top:5px; left:50%; margin-left:-12px; }
.product-details-img .product-thumb .slick-next { bottom:-10px; left:50%; right:auto; margin-left:-12px; }
.product-details-img .product-thumb .slick-prev:before { content:"\f106"; font-family:"FontAwesome"; font-size:20px; }
.product-details-img .product-thumb .slick-next:before { content:"\f107"; font-family:"FontAwesome"; font-size:20px; }
.product-details-img .product-labels { z-index:99; }
.product-details-img.product-single__photos.bottom .product-thumb .slick-arrow { background:transparent; }
.product-details-img.product-single__photos.bottom .product-thumb .slick-next { right:0; top:50%; left:inherit; }
.product-details-img.product-single__photos.bottom .product-thumb .slick-prev { left:15px; top:50%; bottom:0; }
.product-details-img.product-single__photos.bottom .product-thumb .slick-prev:before { content:"\ea8b"; font-family:"annimex-icons"; font-size:16px; }
.product-details-img.product-single__photos.bottom .product-thumb .slick-next:before { content:"\ea8c"; font-family:"annimex-icons"; font-size:16px; }

.product-form .swatch .swatchInput + .swatchLbl.rounded { border-radius:50% !important; }
.product-form .swatch .swatchInput + .swatchLbl.rectangle { border-radius:7px !important; }

.product-buttons { position:absolute; right:10px; bottom:10px; z-index:99; }
.product-buttons .btn.popup-video i, .product-buttons .btn i { line-height:33px; }
.product-buttons .btn { font-size:19px; height:36px; width:36px; text-align:center; margin-top:5px; clear:both; border-radius:3px; padding:0; line-height:33px; float:right; background:#000000; color:#ffffff; opacity:0.9; }

.product-template__container .product-single { margin-bottom:20px; }
.product-template__container .product-single__meta { position:relative; margin-bottom:20px; }
h1.product-single__title, .product-single__title.h1 { color:#000; font-size:23px; margin-bottom:10px; padding-right:60px; text-transform:uppercase; }
.product-template__container .product-nav { position:absolute; right:0; top:10px; }
.product-template__container .product-nav .next { float:right; }
.product-template__container .product-nav .prev, .product-template__container .product-nav .next { font-size:20px; display:block; line-height:22px; text-align:center; height:20px; width:20px; padding:0; color:#000; }

.product-template__container .prInfoRow { margin-bottom:10px; }
.product-template__container .prInfoRow > div { display:inline-block; margin-right:5%; }
.product-template__container .prInfoRow .instock { color:#447900; }
.product-template__container .prInfoRow .spr-badge-caption { color:#424242; padding-left:5px; }
.product-template__container .prInfoRow a:hover { text-decoration:none; }
.product-single__price .product-price__price { font-size:1.46154em; padding-left:3px; }
.discount-badge { display:inline-block; vertical-align:middle; margin:-2px 0 0 5px; font-size:13px; }
.discount-badge .product-single__save-amount { font-weight:700; }
.discount-badge .off, .discount-badge .product-single__save-amount { color:#e95144; }
.product-single__price { display:inline-block; margin-right:10px; color:#555; font-size:1.15385em; font-weight:400; margin-bottom:15px; }
.orderMsg { color:#e95144; font-size:15px; margin-bottom:20px; }
.orderMsg img { margin-right:3px; vertical-align:top; -webkit-animation-name:blinker; -webkit-animation-iteration-count:infinite; -webkit-animation-timing-function:cubic-bezier(.6, 0, 1, 1); -webkit-animation-duration:0.8s; }
@-webkit-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity:0.0; } 
}
.product-description ul, .product-single__description ul { margin-left:0; }
.product-single__description ul { text-align:left; }
.product-description ul li, .product-single__description ul li { position:relative; margin-left:15px; list-style:disc; }

.rte { color:#555; margin-bottom:20px; }
.rte li { margin-bottom:4px; list-style:inherit; }
.rte h1, .rte .h1, .rte h2, .rte .h2, .rte h3, .rte .h3, .rte h4, .rte .h4, .rte h5, .rte .h5, .rte h6, .rte .h6 { margin-top:30px; margin-bottom:15px; }
.rte h1:first-child, .rte .h1:first-child, .rte h2:first-child, .rte .h2:first-child, .rte h3:first-child, .rte .h3:first-child, .rte h4:first-child, .rte .h4:first-child, .rte h5:first-child, .rte .h5:first-child, .rte h6:first-child, .rte .h6:first-child { margin-top:0 }
.rte:last-child { margin-bottom:0; }

.product-template__container #quantity_message { color:#31a3a3; font-size:16px; text-align:center; padding:5px 9px; margin-bottom:15px; border:1px dashed #31a3a3; }
.product-template__container #quantity_message .items { font-weight:700; }

.product-form { display:-webkit-flex; display:-ms-flexbox; display:flex; width:100%; -webkit-flex-wrap:wrap; -moz-flex-wrap:wrap; -ms-flex-wrap:wrap; flex-wrap:wrap; -ms-flex-align:end; -webkit-align-items:flex-end; -moz-align-items:flex-end; -ms-align-items:flex-end; -o-align-items:flex-end; align-items:flex-end; width:auto; margin:0 -5px -10px; }
.product-template__container .product-form .swatch { width:100%; }
.product-form .swatch { margin-bottom:10px; }
.product-form .swatch .product-form__item { margin-bottom:0; padding-bottom:0; padding-top:0; }
.product-form__item { -webkit-flex:1 1 200px; -moz-flex:1 1 200px; -ms-flex:1 1 200px; flex:1 1 200px; margin-bottom:10px; padding:5px; }
.product-form .swatch label { display:block; text-transform:uppercase; font-weight:400; }
.product-template__container label .slVariant { font-weight:700; }
.product-form .swatch .swatch-element { display:inline-block; margin-right:8px; cursor:pointer; }
.product-form .swatch .swatchInput + .swatchLbl.color.medium { width:50px; height:50px; }
.product-form .swatch .swatchInput:checked + .swatchLbl { border:2px solid #111111; box-shadow:none; }
.product-form .swatch .swatchInput + .swatchLbl.color { width:30px; padding:0; height:30px; background-repeat:no-repeat; background-position:50% 50%; background-size:100% auto; cursor:pointer; }
.product-form .swatch .swatchInput + .swatchLbl.large { width:40px; height:40px; }
.product-form .swatch .swatchInput + .swatchLbl.large:not(.color) { line-height:36px; }
.product-form .swatch .swatchInput + .swatchLbl { color:#333; font-size:12px; font-weight:400; line-height:28px; text-transform:capitalize; display:inline-block; margin:0; min-width:30px; height:30px; overflow:hidden; text-align:center; background-color:#f9f9f9; padding:0 10px; border:2px solid #fff; box-shadow:0 0 0 1px #ddd; 
	border-radius:0; -ms-transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out; transition:all 0.5s ease-in-out; cursor:pointer; }
.product-form .swatch .swatchInput { display:none; }

.infolinks { margin-bottom:25px; padding:0 5px; }
.infolinks .btn { font-size:11px; background-color:transparent; color:#000; padding:0; margin-right:15px; display:inline-block; vertical-align:top; border-bottom:1px solid #000; }
.infolinks .btn:focus { outline:0; }

#sizechart { text-align:center; background:#fff; margin:0 auto; padding:20px; max-width:800px; position:relative; }
#sizechart table tr th { background:#000; color:#fff; border:0 !important; }
#sizechart table tr th, #sizechart table tr td { padding:7px 12px; text-align:center; font-size:12px; border:1px solid #e8e9eb; }
table { margin-bottom:15px; width:100%; border-collapse:collapse; border-spacing:0; }

#productInquiry { background:#eee; margin:0 auto; padding:20px; max-width:600px; position:relative; }
#productInquiry input[type="tel"], #productInquiry input[type="email"], #productInquiry input[type="text"], #productInquiry textarea { background-color:#fff; margin-bottom:10px; }
#productInquiry textarea { padding:10px; }

.product-template__container .product-action { width:100%; display:block; margin-bottom:15px; padding:0 5px; }
.product-template__container .product-form__item--quantity { float:left; margin:0 10px 10px 0; }
.wrapQtyBtn { float:left; }
.qtyField { display:table; margin:0 auto; }
.qtyField .qty { width:40px; }
.qtyField .qtyBtn, .qtyField .qty { padding:10px 6px; width:30px; height:42px; border-radius:0; float:left; }
.qtyField a { background-color:#eee; color:#000; }
.qtyField a .fa { font-size:12px; line-height:21px; }
.qtyField > a, .qtyField > span, .qtyField input { display:table-cell; line-height:normal; text-align:center; padding:3px 6px; border:1px solid #f5f5f5; }
.product-template__container .product-form__item--submit { width:auto; overflow:hidden; }
.product-template__container .product-form__item--submit .btn { width:100%; padding:6px 15px; min-height:42px; }
.product-template__container .shopify-payment-button .shopify-payment-button__button--unbranded { border-radius:0; -ms-transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out; transition:all 0.3s ease-in-out; color:#fff; background-color:#e95144; float:right; }
.shopify-payment-button__button { cursor:pointer; display:block; font-size:1em; font-weight:500; line-height:1; text-align:center; width:100%; }
.shopify-payment-button__button--unbranded { padding:1em 2em; }

.product-template__container .shareRow { padding:10px 0 20px; }
.product-template__container .shareRow .wishlist { background:none !important; color:#000 !important; text-transform:capitalize; width:auto; text-align:left; line-height:inherit; height:auto; text-decoration:none; }
.product-template__container .shareRow .wishlist span { display:inline; padding-left:5px; letter-spacing:0.02em; }
.product-template__container .shareRow .medium-up--one-third { width:33%; }
.social-sharing .btn { color:#000 !important; padding:0 5px; margin-bottom:0; background:none !important; border:0; letter-spacing:normal; text-transform:capitalize; }
.btn--share .fa { color:#222222; font-size:14px; }

.freeShipMsg { margin-bottom:12px; }
.freeShipMsg .fa { font-size:20px; width:25px; vertical-align:middle; }
.shippingMsg { margin-bottom:12px; }
.shippingMsg .fa { font-size:18px; width:25px; vertical-align:middle; }

.userViewMsg { clear:both; margin-bottom:12px; }
.userViewMsg .fa, .userViewMsg .uersView { color:#e95144; }
.userViewMsg .fa { font-size:18px; width:25px; }

.prFeatures { padding:20px 0; }
.prFeatures .feature { margin-bottom:20px; }
.prFeatures img { float:left; }
.prFeatures .details { margin-left:65px; line-height:1.5; }
.prFeatures .details h3, .prFeatures .details .h3 { margin-bottom:5px; text-transform:uppercase; }

.template-product .tabs-listing .product-tabs { border-bottom:1px solid #e8e9eb; width:100%; margin-bottom:0; }
.template-product .tabs-listing .product-tabs li { float:none; display:inline-block; cursor:pointer; }
.template-product .tabs-listing .product-tabs a { border-bottom:1px solid transparent; margin-bottom:-1px; letter-spacing:1px; display:block; border:none; padding:15px 25px; background:none !important; text-transform:uppercase; font-weight:600; border-radius:0; outline:none; color:#2e2d2d; text-decoration:none; }
.template-product .product-tabs li.active a, .template-product .product-tabs li.active a:focus { text-decoration:none; border:0; color:#000; border-bottom:1px solid #000; opacity:1; }
.acor-ttl.active { border-bottom:1px solid #000; }
.acor-ttl { display:block; padding:15px 0; position:relative; font-weight:600; letter-spacing:1px; border-bottom:1px solid #e8e9eb; font-family:Poppins,Helvetica,Tahoma,Arial,sans-serif; margin:0; font-size:12px; cursor:pointer; }
.template-product .tabs-listing .tab-container { padding:30px 0; text-align:left; }
.tab-container .tab-content { display:none; }
.product-template__container .product-single-1 .tab-container .tab-content { padding-top:20px; }
.template-product .prstyle2 .tabs-listing .acor-ttl:before { position:absolute; right:15px; top:15px; content:"\f107"; font-family:"FontAwesome"; font-size:16px; font-weight:normal; }
.template-product .prstyle2 .tabs-listing .acor-ttl.active:before { content:"\f106"; color:#000; }
#shopify-product-reviews { *zoom:1; display:block; clear:both; overflow:hidden; margin:1em 0; }
.spr-container:before,
.spr-container:after { content:" "; display:table; }
.spr-summary-starrating { margin:0 6px 0 0; }
.spr-summary-actions-newreview { float:right; background:#000; color:#fff !important; font-size:12px; font-weight:700; padding:8px 10px; text-transform:uppercase; }
.spr-form { margin:24px 0 0 0; padding:24px 0 0 0; border-top:1px solid #DFDFDF; }
.spr-form-title { font-size:16px; line-height:24px; margin-top:0; text-transform:uppercase; }
.spr-form-contact-name, .spr-form-contact-email, .spr-form-contact-location, .spr-form-review-rating, .spr-form-review-title, .spr-form-review-body { *zoom:1; margin:0 0 15px 0; }
.spr-container input, .spr-container select, .spr-container textarea { border-color:#d3d3d3; }
.product-template__container label { font-weight:400; text-transform:uppercase; letter-spacing:0.02em; }
.spr-button-primary { float:right; }
.spr-reviews { padding:24px 0; }
.spr-review { padding:24px 0; border-top:1px solid #DFDFDF; }
.spr-review:first-child { margin-top:24px; }
.spr-review-header-starratings { margin:0 0 0.5em 0; display:inline-block; }
.spr-review-header-title { font-size:16px; line-height:24px; margin:0; padding:0; border:none; text-transform:uppercase; }
.spr-review-header-byline { font-size:13px; opacity:0.7; display:inline-block; margin:0 0 1em 0; }
.spr-review-content { *zoom:1; margin:0 0 24px 0; }

.template-product .tabs-listing .tab-container table tr th { background:#000; color:#fff; border:0 !important; }
.template-product .tabs-listing .tab-container table tr th, .template-product .tabs-listing .tab-container table tr td { padding:7px 12px; text-align:center; font-size:12px; border:1px solid #e8e9eb; }

.related-product { margin-bottom:30px; }
.product-template__container .section-header { margin-bottom:40px; }
.sub-heading { text-align:center; max-width:500px; margin:0 auto; }
.related-product .grid--view-items { overflow:visible; }
.recently-product .grid-products .item { float:left; }

.product-single__photos.bottom .product-dec-slider-1 { padding:8px 0; margin-left:-4px; }
.product-single__photos.bottom .product-dec-slider-1 .slick-list { margin:0 -2px; }
.product-single__photos.bottom .product-dec-slider-1 .slick-slide { margin:0 4px; }

.product-info .lbl { font-weight:700; }

.left-content-product { float:left; width:80%; padding-right:30px; }
.sidebar-product { float:left; width:20%; }
.sidebar-product .prFeatures { padding-top:0; }
.sidebar-product .prFeatures h5 { font-size:1.07692em; font-family:'Poppins', sans-serif; font-weight:600; }
.template-product-right-thumb .sidebar-product .prFeatures { padding-top:0; }
.sidebar-product .section-header { margin-bottom:20px; }

.prstyle3 .related-product { margin-bottom:20px; }
.prstyle3 .related-product:before, .prstyle3 .related-product:after { content:''; clear:both; display:block; }
.prstyle3 .related-product .section-header .h2, .prstyle3 .related-product .section-header .sub-heading { text-align:left; }
.prstyle3 .related-product .section-header { margin-bottom:12px; }
.prSidebar .section-header h2, .prSidebar .section-header .h2 { font-size:130%; text-align:left !important; }
.prstyle3 .mini-list-item .mini-view_image img { max-width:110px; }
.prstyle3 .mini-list-item .mini-view_image { width:28%; }
.prstyle3 .mini-list-item .details { margin-left:32%; }

.template-product-right-thumb .product-details-img .product-thumb { padding-right:0; padding-left:5px; }
.template-product-right-thumb .product-thumb .product-dec-slider-2 a { padding-bottom:3px; }
.template-product-right-thumb .prFeatures { padding:40px 0 20px; }

.product-countdown { position:static; margin:15px 0; }
.product-countdown:before, .product-countdown:after { content:''; clear:both; display:block; }
.product-countdown .time-count { font-weight:700; font-size:24px; display:block; width:100%; text-align:center; margin:0; }
.product-countdown span>span { font-weight:700; width:24%; margin-right:0.3%; padding:10px; line-height:18px; display:inline-block; text-align:center; background:#000; color:#fff; float:left; }
.product-countdown span>span span { display:block; background:none; font-size:15px; font-weight:400; text-transform:uppercase; line-height:16px; text-align:center; width:100%; padding:8px; }

.product-right-sidebar .product-details-img { width:50%; float:left; padding-right:10px; }
.product-right-sidebar .product-information { width:50%; float:left; padding-left:10px; }
.product-right-sidebar .sidebar-product { width:100%; }
.product-right-sidebar .tabs-listing { clear:both; padding-top:30px; }
.product-right-sidebar .sub-heading { text-align:left; }
.product-right-sidebar .related-product { margin-bottom:20px; }

.product-labels .pr-label3 { left:5px; background:#fb6c3e; }

.product-single .product-single__meta { position:relative; }
.product-single .product-featured-img { width:100%; display:block; margin:0 auto; }
.product-single .grid_item-title { font-size:26px; margin-bottom:25px; }
.product-single .product-single__title { font-size:18px; }

/*======================================================================
  23. Pages (editProfile.php h1 header)
========================================================================*/
.page.section-header { background:#f9f9f9; border:1px solid #e8e9eb; }
.page.section-header h1 { text-transform:uppercase; margin:0; color:#000; padding:25px 0; font-size:18px; }
.page.section-header {
    background: #f9f9f9;
    border: 1px solid #e8e9eb;
}
.section-header {
    margin-bottom: 35px;
}

/*======================================================================
  12. Products With Tab Slider
========================================================================*/
.tab-slider-product.section .section-header { margin-bottom:15px; }
.tab-slider-product .tabs { border:0; text-align:center; margin:0 0 30px; padding:0; }
.tab-slider-product .tabs > li { float:none; display:inline-block; margin:0 15px; cursor:pointer; }
.tab-slider-product .tabs > li { background:none !important; border:0 !important; text-transform:uppercase; letter-spacing:1px; color:#929292; font-weight:600; font-size:13px; padding-top:0; }
.tab-slider-product .tabs > li.active { color:#111111; }
.tab-slider-product .tabs li:hover, .tab-slider-product .tabs li:focus { color:#111111; opacity:1; text-decoration:underline; }
.tab-slider-product .tab_container { clear:both; width:100%; background:#fff; }
.tab-slider-product .tab_content { display:none; }
.tab-slider-product .tab_drawer_heading { display:none; }

/*======================================================================
  13. Product Grid
========================================================================*/
.grid-products a { text-decoration:none !important; }
@media only screen and (min-width: 992px) {
.shop-grid-5 .grid-products .item.col-lg-2 { -ms-flex:0 0 20%; -webkit-flex:0 0 20%; flex:0 0 20%; max-width:20%; }
}
@media only screen and (min-width: 1540px) {
	.shop-grid-7 .grid-products .item.col-lg-2 { -ms-flex:0 0 14.2222%; -webkit-flex:0 0 14.2222%; flex:0 0 14.2222%; max-width:14.2222%; }
}
.grid-products .item .product-image .showVariantImg img { opacity:0; visibility:hidden; }
.grid-products .item .product-image .showVariantImg .variantImg { visibility:visible; opacity:1; }
.grid-products .item .product-image .showLoading { transition: .5s; animation: loader-rotate .8s infinite linear; background: 0 0 !important; border: 3px solid rgba(100,100,100,.5);     border-top-color: rgba(100, 100, 100, 0.5); border-radius: 100%; border-top-color: #fff; content: ""; height: 34px !important; left: 50%; line-height: 1; margin-left: -17px; margin-top: -17px; pointer-events: none; position: absolute; top: 50% !important; -webkit-animation: loader-rotate .8s infinite linear; width: 34px !important; z-index: 154 !important; }
.grid-products .item .product-image { position:relative; overflow:hidden; margin:0 auto 15px; }
.grid-products .item .product-image > a { display:block; white-space:nowrap; opacity:1; }
.grid-products .item .product-image img { display:inline-block; width:100%; margin:0 auto; vertical-align:middle; -ms-transition:all ease-out 0.4s; -webkit-transition:all ease-out 0.4s; transition:all ease-out 0.4s; }
.grid-products .item .product-image .hover { visibility:hidden; opacity:0; left:50%; top:50%; position:absolute; -ms-transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%); transform:translate(-50%, -50%); }
.grid-products .item .product-image:hover .primary { opacity:0; }
.grid-products .item .product-image:hover .hover:not(.variantImg) { opacity:1; visibility:visible; }
.grid-view_image:hover .primary { opacity:0; visibility:hidden; }
.grid-view_image:hover .hover:not(.variantImg) { opacity:1; visibility:visible; }

.grid-view-item.style2 .grid-view-item__link { position:relative; overflow:hidden; margin:0 auto 15px; }
.grid-view-item.style2 .grid-view-item__link { display:block; white-space:nowrap; opacity:1; }
.grid-view-item.style2 .grid-view-item__image { display:inline-block; width:100%; margin:0 auto; vertical-align:middle; -ms-transition:all ease-out 0.4s; -webkit-transition:all ease-out 0.4s; transition:all ease-out 0.4s; }
.grid-view-item.style2 .grid-view-item__link .hover { visibility:hidden; opacity:0; left:50%; top:50%; position:absolute; -ms-transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%); transform:translate(-50%, -50%); }
.grid-view-item.style2 .grid-view-item__link:hover .primary { opacity:0 !important; visibility:hidden; }
.grid-view-item.style2 .grid-view-item__link:hover .hover:not(.variantImg) { opacity:1; visibility:visible; }
.grid-view-item.style2 .hoverDetails { width:94%; opacity:0; position:absolute; top:50%; left:50%; -ms-transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%); transform:translate(-50%, -50%); -ms-transition:all ease-out 0.4s; -webkit-transition:all ease-out 0.4s; transition:all ease-out 0.4s; }
.template-collection .grid-view-item.style2 i { vertical-align:middle; }
.grid-view-item.style2 .grid-view-item__link,
.grid-view-item.style2 .grid-view_image { margin-bottom:0; }
.grid-view-item.style2 .grid-view-item__link .hover { opacity:0 !important; visibility:hidden; }
.grid-view-item.style2:hover .grid-view-item__link .hover { opacity:0.2 !important; visibility:visible; }
.grid-view-item.style2:hover .hoverDetails { opacity:1; }
.grid-view-item.style2 .button-set, .grid-view-item.style2 .variants.add { position:static; opacity:1; margin:0; }
.grid-view-item.style2 .button-set { margin-top:10px; }
.grid-view-item.style2 .button-set a.quick-view, .grid-view-item.style2 .button-set .wishlist-btn, .grid-view-item.style2 .button-set .compare-btn, .grid-view-item.style2 .button-set > form { display:inline-block; margin:0 2px; vertical-align:middle; }
.grid-view-item.style2 .button-set i { line-height:35px; }
.grid-view-item.style2 .button-set > form button { padding:0; width:35px; height:35px; }
.grid-view_image { position:relative; overflow:hidden; margin:0 auto 15px; }
.grid-products.style3 .item .product-name { margin-bottom:10px; }
.grid-products.style3 .item .product-image { margin:0 auto; }

.grid-view_image .product-image > a:after { content: ""; display:inline-block;width:0px; height:100%; vertical-align:middle; }

.slick-prev, .slick-next { position:absolute; z-index:9; display:block; height:auto; line-height:normal; font-size:0px; padding:6px 10px; cursor:pointer; background:transparent; color:transparent; top:50%; -webkit-transform:translate(0, -50%); -ms-transform:translate(0, -50%); transform:translate(0, -50%); padding:0; border:none; opacity:0.5; }
.slick-prev:before, .slick-next:before { font-family:"annimex-icons"; font-size:20px; line-height:1; color:#000; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; }
.slick-prev:before { content:"\ea8b"; }
.slick-next::before { content:"\ea8c"; }
.productSlider:hover .slick-arrow, .productPageSlider:hover .slick-arrow, .productSlider-style1:hover .slick-arrow, .productSlider-style2:hover .slick-arrow,
.productSlider-style2:hover .slick-arrow, .productSlider-fullwidth:hover .slick-arrow { opacity:1; }
.grid-products .slick-arrow { margin-top:-50px; }
.productPageSlider .slick-arrow { margin-top:-40px; }
.productSlider-style1 .slick-arrow, .productSlider-style2 .slick-prev, .productSlider-fullwidth .slick-prev { margin-top:-10px; }
.productSlider .slick-arrow, .productPageSlider .slick-arrow, .productSlider-style1 .slick-arrow,
.productSlider-style2 .slick-arrow, .productSlider-fullwidth .slick-arrow { padding:6px 10px; border-radius:5px; opacity:0; -ms-transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out; transition:all 0.5s ease-in-out; }
.productSlider .slick-next, .productPageSlider .slick-next, .productSlider-style1 .slick-next,
.productSlider-style2 .slick-next, .productSlider-fullwidth .slick-next { right:-35px; }
.productSlider .slick-prev, .productPageSlider .slick-prev, .productSlider-style1 .slick-prev,
.productSlider-style2 .slick-prev, .productSlider-fullwidth .slick-prev { left:-35px; }
.grid-products .slick-slider .item, .grid-products.slick-slider .item { margin-bottom:0; }

.product-labels { position:absolute; left:5px; top:5px; }
.product-labels.rectangular .lbl { border-radius:0; }
.product-labels.radius .lbl { border-radius:3px; }
.product-labels .lbl { display: block; white-space:nowrap; color:#fff; font-size:11px; font-weight:400; text-transform:uppercase; text-align:center; padding:0 5px; height:20px; line-height:20px; margin-bottom:5px; }
.product-labels .on-sale { right:5px; background:#f54337; }
.product-labels .pr-label1 { left:5px; background:#01bad4; }
.product-labels .pr-label2 { left:5px; background:#e9a400; }
.product-labels .pr-label3 { left:5px; background:#81d53d; }
.product-labels.rounded .lbl { border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; display:-webkit-box; display:-webkit-flex; display:-moz-flex; display:-ms-flexbox; display:flex; -webkit-box-align:center; -ms-flex-align:center; -webkit-align-items:center; -moz-align-items:center; 
	align-items:center; white-space:nowrap; word-break:break-all;-webkit-box-pack:center; -ms-flex-pack:center; -webkit-justify-content:center; -moz-justify-content:center; justify-content:center; text-align:center; height:50px; width:50px; }
.grid-view-item--sold-out .grid-view-item__image { opacity:0.5; }
.sold-out { position:absolute; top:0; width:100%; left:0; height:100%; }
.sold-out span { color:#000; position:absolute; top:50%; left:0; right:0; text-transform:uppercase; letter-spacing:0.08em; text-align:center; }
.variants.add button { color:#000000; background-color:#ffffff; width:100%; text-transform:uppercase; -ms-transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out; transition:all 0.3s ease-in-out; }
.variants.add { position:absolute; bottom:-50px; -ms-transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out; transition:all 0.3s ease-in-out; left:5px; right:5px; }
.product-image:hover .variants.add { bottom:5px; }
.button-set { position:absolute; right:5px; top:30px; opacity:0; -ms-transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out; transition:all 0.5s ease-in-out; }
.button-set i { line-height:34px; }
.product-image:hover .button-set { top:5px; opacity:1; }
a.quick-view, a.wishlist, .cartIcon, .add-to-compare { color: #000000; background-color:#ffffff; border:0; width:35px; height:35px; line-height:34px; display:block; text-transform:uppercase; text-align:center; padding:0; margin-bottom:5px; }
a.quick-view:hover, a.wishlist:hover, .cartIcon:hover, .variants.add button:hover, .add-to-compare:hover { color:#ffffff; background-color:#000000; opacity:0.8; }
a.quick-view { margin-bottom:5px !important; }

.button-style2, .button-style2 .variants.add { position:static; opacity:1; }
.button-style2 .btn-style2 { display:block; float:left; width:25%; }
.button-style2 .cartIcon, .button-style2 .quick-view-popup, .button-style2 .wishlist, .button-style2 .compare { color:#fff; background-color:#000; border-right:1px solid #fff; }
.button-style2 .compare { border-right: 0; }
.button-style2 .wishlist, .button-style2 .compare { width:100%; }
.button-style2 .variants.add button { color:#fff; background-color:#000; }

.grid-products .item { margin:0 0 30px; text-align:center; }
.tab_container .grid-products .item { margin-bottom:0; }
.grid-products .item .product-name a { color:#000; font-size:1em; line-height:1.2; margin-bottom:0; }
.grid-products .item .product-name a:hover { opacity:0.8; }
.grid-products .item .product-price { margin:5px 0; color:#000000; font-weight:600; }
.product-price .old-price { color:#555; font-size:12px; opacity:0.8; text-decoration:line-through; }
.product-price .old-price + .price { padding-left:5px; color:#e95144 !important; }
.product-price .price { color:#000000; }
.product-price__sale, .product__price--sale { color:#e95144 !important; }

.product-review .fa { font-size:13px; opacity:1; color:#ff9500; margin:0 1px; }
.grid-products .item .swatches { margin:8px 0 0; list-style:none; padding:0; }
.grid-products .item .swatches li { display:inline-block; height:15px; width:15px; margin:3px 1px; cursor:pointer; box-shadow:0 0 1px 1px #ddd; -webkit-box-shadow:0 0 1px 1px #ddd; }
.grid-products .item .swatches li img { display:block; border-radius:50%; -webkit-border-radius:50%; max-height:30px; margin:0 auto; }
.grid-products .item .swatches li.square img { border-radius:0; -webkit-border-radius:0; }
.grid-products .item .swatches li.radius img { border-radius:5px; -webkit-border-radius:5px;}
.grid-products .item .swatches li:hover { box-shadow:0 0 1px 1px #000; -webkit-box-shadow:0 0 1px 1px #000; }
.grid-products .item .swatches li.rounded { border-radius:50% !important; -webkit-border-radius:50% !important; }
.grid-products .item .swatches li.radius { border-radius:5px !important; -webkit-border-radius:5px !important; }
.grid-products .item .swatches li.medium { height:30px; width:30px; }
.grid-products .item .swatches li.navy { background-color:navy; }
.grid-products .item .swatches li.green { background-color:green; }
.grid-products .item .swatches li.gray { background-color:gray; }
.grid-products .item .swatches li.aqua { background-color:aqua; }
.grid-products .item .swatches li.orange { background-color:orange; }
.grid-products .item .swatches li.purple { background-color:purple; }
.grid-products .item .swatches li.teal { background-color:teal; }
.grid-products .item .swatches li.black { background-color:black; }
.grid-products .item .swatches li.red { background-color:red; }
.grid-products .item .swatches li.yellow { background-color:yellow; }
.grid-products .item .swatches li.darkgreen { background-color:darkgreen; }
.grid-products .item .swatches li.maroon { background-color:maroon; }

.grid-view-item__title { color:#000; font-size:1em; line-height:1.2; margin-bottom:0; }
.grid-view-item__meta { margin:5px 0; }
.product-price__price { color:#000000; font-weight:600; display:inline-block; }

.grid-products-hover-btn a.quick-view, .grid-products-hover-btn a.wishlist, .grid-products-hover-btn .variants.add button,
.grid-products-hover-btn .cartIcon, .grid-products-hover-btn .add-to-compare { color:#ffffff; background-color:#000000; }

.grid-products-hover-gry a.quick-view, .grid-products-hover-gry a.wishlist, .grid-products-hover-gry .variants.add button,
.grid-products-hover-gry .cartIcon, .grid-products-hover-gry .add-to-compare { color:#ffffff; background-color:#555555; }

.brand-name a { color:#555; font-size:12px; text-transform:uppercase; }

.grid-view-item__link img {
    width: 100%; /* This will make the image fill the container */
    height: auto; /* This will keep the image ratio */
    object-fit: cover; /* This will cover the area without stretching the image */
}